[submodule "Submodules/XMPPFramework"]
	path = Submodules/XMPPFramework
	url = git@github.com:ChatSecure/XMPPFramework.git
[submodule "CPAProxy"]
	path = CPAProxy
	url = git@github.com:ursachec/CPAProxy.git
